.section .code-tabs > ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none;
	overflow: hidden;
  border: none;
  font-size: smaller;
  color: #ffffff;
}

.section .code-tabs > ul li {
	margin: 0 5px 0 0;
	padding: 0px 10px;
	display: block;
	cursor: pointer;
	font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #e1e4e5;
  border-bottom: none;
  background-color: #888;
  float: left;
  outline: none;
  transition: 0.3s;
}

.section .code-tabs > ul li:first-of-type {
	margin-left: 2px;
}
.section .code-tabs > ul li:last-of-type {
	margin-right: 0;
}
.section .code-tabs > ul li:hover {
  background-color: #606060;
}
.section .code-tabs > ul li.selected {
  background-color: #303030;
  border-color: #4070a0;
  border-size: 2px;
}
.section .code-tabs > ul li.selected:hover {
	background-color: #606060;
}

.section .code-tabs .code-tab > div {
	margin-top: 0;
}

div.hidden {
  display: none;
}
